{% load static %}
<html>
    <head>
        <title>ProjectBook</title>
    </head>
<body>
    <div class="page-header">
        <h1><a href="/">Project book of your life</a></h1>
        {% if user.is_authenticated %}
        Привет, {{ user.username }}.
        {% else %}
        Вам нужно залогиниться
        {% endif %}
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>